<nav class="bg-white border-end vh-100 p-4">
  <ul class="nav nav-pills flex-column gap-3">

    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-3 py-3 px-3 fs-5 fw-semibold"
         href="{% url 'students:dashboard' %}">
        <i class="ri-dashboard-2-line fs-3" style="color:#0f766e;"></i>
        <span class="text-dark">Dashboard</span>
      </a>
    </li>

    <!-- Profile -->
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-3 py-3 px-3 fs-5 fw-semibold"
         href="{% url 'students:profile' %}">
        <i class="ri-user-3-line fs-3" style="color:#0f766e;"></i>
        <span class="text-dark">Profile</span>
      </a>
    </li>

    <!-- Attendance -->
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-3 py-3 px-3 fs-5 fw-semibold" >
         {% comment %} href="{% url 'attendences:student_calendar' %}"> {% endcomment %}
        <i class="ri-calendar-check-line fs-3" style="color:#0f766e;"></i>
        <span class="text-dark">Attendance</span>
      </a>
    </li>

    <!-- Courses -->
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-3 py-3 px-3 fs-5 fw-semibold"
         href="{% url 'students:courses' %}">
        <i class="ri-book-2-line fs-3" style="color:#0f766e;"></i>
        <span class="text-dark">Courses</span>
      </a>
    </li>

    <!-- Fees -->
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-3 py-3 px-3 fs-5 fw-semibold"
         href="{% url 'students:fees' %}">
        <i class="ri-money-rupee-circle-line fs-3" style="color:#0f766e;"></i>
        <span class="text-dark">Fees</span>
      </a>
    </li>

  </ul>
</nav>
