
<nav class="bg-white border-end vh-100 p-4">
  <ul class="nav nav-pills flex-column gap-3">

    <!-- Teacher Profile -->
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-3 py-3 px-3 fs-5 fw-semibold"
         href="{% url 'teachers:profile' %}">
        <i class="ri-user-3-line fs-3" style="color:#4f46e5;"></i>
        <span class="text-dark">Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-3 py-3 px-3 fs-5 fw-semibold"
         href="{% url 'teachers:students' %}">
        <i class="ri-calendar-check-line fs-3" style="color:#4f46e5;"></i>
        <span class="text-dark">Students</span>
      </a>
    </li>

    <!-- Attendance -->
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-3 py-3 px-3 fs-5 fw-semibold"
         href="{% url 'teachers:attendences' %}">
        <i class="ri-calendar-check-line fs-3" style="color:#4f46e5;"></i>
        <span class="text-dark">Attendance</span>
      </a>
    </li>

    <!-- Fees Management -->
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-3 py-3 px-3 fs-5 fw-semibold"
         href="{% url 'teachers:fees' %}">
        <i class="ri-money-rupee-circle-line fs-3" style="color:#4f46e5;"></i>
        <span class="text-dark">Fees Management</span>
      </a>
    </li>

  </ul>
</nav>

